# Godot
.import/
.godot/

export.cfg
export_presets.cfg

*.import
*.tmp
*.translation

# Editor settings
.vscode/
.history/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Local exports
/builds/
exports/

*.exe
*.pck
*.apk
*.aab
*.dmg
*.app